.header{
    padding: 0px;
    grid-area: h;
    background-color:rgb(29, 27, 27);
    color: rgb(236, 77, 55);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    margin: 0;
    background-color: rgb(29, 27, 27);
}

canvas{
    border: 10px solid rgb(236, 77, 55);
    padding: 0;
    margin: auto;
    display: block;
    width: 1200px;
    height: 640px;
    margin-top: 15px;  
}

.color{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

a{
    color: rgb(236, 77, 55);
}